* {
    font-family: 'Nunito Sans', sans-serif; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    text-align: center;
    overflow-x: hidden;
    }
    
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .logo img {
    width: 80px;
    height: 91px;
    margin-left: 15px;
    }
    
    .nav-links {
    list-style: none;
    display: flex;
    gap: 100px; 
    }
    
    .nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 580;
    }
    
    .nav-links a:hover {
    color: #008FAB;
    }
      
    .sparkle-link, .active {
        position: relative;
        display: inline-block;
        color: #008FAB;
        text-decoration: none;
        font-weight: bold;
        overflow: hidden;
        transition: color 0.3s ease-in-out;
      }
      
      .sparkle-link::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          120deg,
          rgba(255, 255, 255, 0.1),
          rgba(255, 255, 255, 0.6),
          rgba(255, 255, 255, 0.1)
        );
        transform: skewX(-20deg);
      }
      
      .sparkle-link:hover::before {
        animation: sparkle-slide 1s ease forwards;
      }
      
      @keyframes sparkle-slide {
        0% {
          left: -100%;
        }
        100% {
          left: 100%;
        }
      }
      
    .icons {
    display: flex;
    gap: 30px;
    margin-right: 30px;
    }
    
    .search, .user, .favorite, .shopping {
    width: 24px;
    height: 24px;
    cursor: pointer;
    }
