body {
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 15px;
}

.tracker {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background: white;
    margin: 20px auto;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; 
}

.tracker:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); 
}    

.tracker img {
    width: 250px;
    height: auto;
    border-radius: 10px;
}

.content {
    text-align: left;
    max-width: 500px;
}

p{
    margin-top: 10px;
}
.workout{
    margin-top: 20px;
    background-color: black;
    padding: 10px;
    border: none;
    border-radius: 7px;
}
.work{
    text-decoration: none;
    color: white;
    font-size: medium;
}

#workout-list li {
    list-style: none;
    padding: 5px;
    border-bottom: 1px solid #eee;
}

#workout-form input {
    margin-right: 10px;
}