body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  color: white;
}

header {
  position: relative;
  text-align: center;
  padding: 100px 20px;
  background: url('photo.jpg') no-repeat center center/cover;
  height: 100vh;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Dark overlay */
  z-index: 0;
}

header h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
  z-index: 1;
  position: relative;
}

header div {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
  z-index: 1;
  position: relative;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #007bff;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.3s smooth;
  z-index: 1;
  position: relative;
  scroll-behavior: smooth;
}

.btn:hover {
  background-color: #0056b3;
}

section#contact {
  padding: 50px 20px;
  background-color: #f4f4f4;
  color: black;
  text-align: center;
}

section#contact h2 {
  margin-bottom: 20px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

input, textarea {
  width: 89%;
  padding: 17px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

button {
  width: 95%;
  padding: 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #218838;
}

@media (max-width: 768px) {
  header {
    padding: 50px 20px;
    height: auto;
  }

  header h1 {
    font-size: 28px;
  }

  header div {
    font-size: 16px;
  }
}
